body {
  margin: 0px;
}

body > div {
  height: 100%;
}

.hover {
  opacity: 0.8;
}

.hover:hover {
  opacity: 1;
}

.hover-btn {
  transition: background-color ease 200ms;
}

.hover-btn:hover {
  background-color: #BBBFBE;
}
