html, body {
  height: 100%;
  margin: 0px;
}

body > div {
  height: 100%;
}

.login-btn {
  transition: background-color ease 300ms;
  color: white;
}

.login-btn:hover {
  background-color: white;
  color: #0076E5;
}

.hover {
  opacity: 0.8;
}

.hover:hover {
  opacity: 1;
}

.hover-btn {
  transition: background-color ease 300ms;
}

.hover-btn:hover {
  background-color: #BBBFBE;
}
